<h1>What is AC?</h1>
<p>
Arrhythmogenic right ventricular dysplasia/cardiomyopathy (AC) is a disease of the heart muscle (cardiomyopathy). This disease causes fatty/fibrous tissue to replace the normally functioning heart muscle of the right ventricle (RV). The disease causes right ventricle to dilate and contract poorly, and weakens the heart’s ability to pump blood. It also interrupts normal electrical signals in the heart, weakens the heart over time, can lead to heart failure, and potentially cause irregular, life-threatening heart rhythms. These rhythms increase the risk of sudden cardiac arrest/death. AC is a fairly rare genetic disease, and usually starts between the ages of 10 and 50 years old. The severity of the disease varies a great deal between people.
</p>
<p>
  This heart disease affects men, women, and children of all races. While it is most commonly diagnosed in adults in their 30s and 40s, both young adults and older people have been diagnosed with this disease. It’s extremely rare to find signs or symptoms of AC before 12 years of age or to develop signs/symptoms of AC after the age of 60.
</p>
<p>
AC accounts for as many as 20% of sudden cardiac deaths in patients under 35 years of age.
</p>
<p>
  It may affect far more people due to its somewhat hidden nature and the difficulty in recognizing this heart disease; however, big advancements have been made in recognizing and diagnosing AC earlier in patients. It’s possible to have this disease without knowing it. Although AC is a genetic, heritable disease, genetics may not be the only factor. Other factors such as exposure to certain viruses and/or an athletic lifestyle can determine whether a person is clinically affected with AC. This is an area of active research.
</p>
<p>
The specific cause of AC is unknown. It occurs in about 1 in 5,000 people. It can occur with no family history, but it is shown to run in families (~30-50% of cases).
</p>
<p>
AC typically begins in a small part of the right ventricle. As time progresses, it slowly begins to affect more of the right ventricle, and sometimes even the left ventricle as well. Since the heart can’t pump as much blood forward as it normally would, blood backs up in the circulatory system. This results in the build up of fluid in the soft tissues or lungs, leading to swelling (edema) and/or shortness of breath.
</p>
<p>
  AC is caused by mutations in genes that encode desmosomal proteins. These proteins are involved with cell-to-cell adhesion (think of a bridge between two pieces of land). Typically, this abnormality causes a disruption of the normal structure and function of specific desmosomal proteins and this bridge pulls apart and the heart cells die. Over time, this “pulling apart” of the heart cells starts the process of scar/ fat replacement. The loss of heart muscle cells results in fewer muscle cells than normal, and the wall of the ventricles may be thin. Often, the ventricles may become enlarged and don’t squeeze as strongly as they should. This important observation helps explain why AC is more common in athletes, and the delayed onset of the disease. As athletes exercise, it puts strain on their heart to work harder, accelerating the onset and symptoms of the disease.
</p>
<p>
Four stages of AC:
</p>
<ol>
  <li>
    Patients don’t exhibit symptoms of AC. It may not be possible to diagnose AC during this early “concealed phase.”
  </li>
  <li>
    Characterized by ventricular arrhythmias/irregular heartbeats. Patients in this phase often experience palpitations, ventricular tachycardia, syncope or fainting, or sudden cardiac death. In some patients, ventricular arrhythmias may develop before observable evidence of structural heart disease is present. Diagnosing AC in this situation is particularly challenging.
  </li>
  <li>
    The electrical and structural abnormalities of AC can be assessed by the ECG, echocardiogram, and cardiac MRI with emphasis on the structure and function of the right ventricle.
  </li>
  <li>
    The degenerative process results in both left and right ventricle involvement. Patients may experience palpitations, lightheadedness, fainting, or sudden death.
  </li>
</ol>
<p>
  Researchers have found two patterns of inheritance for AC:
</p>
<ul>
  <li>
    <font><b>Autosomal dominant</b></font> - When one parent has ARVD. Studies show that in these families, the family members have a 50 percent chance of inheriting the condition, although the symptoms and age of onset may be different between family members. ARVD is more prevalent in some geographic locations, such as Italy.
  </li>
  <li>
    <font><b>Autosomal recessive</b></font> - (Naxos disease) associated with a thickening of the outer layer of skin on the palms of the hands and soles of the feet (hyperkeratosis) and thick, "wool-like" hair.
  </li>
</ul>
<p>
  Several, but not all, specific genes have been identified as causes of AC. Researchers have been attempting to identify the specific gene mutations as well as the locations of chromosomes associated with AC. The condition may also have non-genetic causes, such as RV congenital abnormalities and viral/inflammatory myocarditis.
</p>
<p>
  Genetic testing for AC is available in the United States, and usually requires submitting a small blood sample.
</p>
<p>
  AC may be present in otherwise young and healthy people. Unfortunately, it has taken the lives of some young people before they could be diagnosed and treated to help protect them. However, with the right treatment, many AC patients can live normal lives.
</p>
