<h1>About Johns Hopkins</h1>
<h2>Why AC Research is Important</h2>
<p>
Little is known about AC, and a lot needs to be done. Following the first descriptions and findings of AC in 1982, significant advances have been made in our understanding of all aspects of this disease. Continuing research is of paramount importance to improving treatment, life quality, and saving lives of those affected by AC. Research depends upon funding, and the competition for funding among various programs is intense and it is difficult to receive funding for a rare disease like AC. In short, there are insufficient funds available for AC programs to continue their research.
</p>
<h2>Why AC Research is Important</h2>
<p>
  Little is known about AC,
  <img align="right" class="imgcss" src="../../assets/johnhopkins.png" style="width:600px;height:400px;">
  and a lot needs to be done. Following the first descriptions and findings of AC in 1982, significant advances have been made in our understanding of all aspects of this disease. Continuing research is of paramount importance to improving treatment, life quality, and saving lives of those affected by AC. Research depends upon funding, and the competition for funding among various programs is intense and it is difficult to receive funding for a rare disease like AC. In short, there are insufficient funds available for AC programs to continue their research.
</p>
<h2>Why support AC?</h2>
<p>
  The progression of research and success of new developments of the AC research program at Johns Hopkins University is limited by the lack of funding. Private, individual donors are critical in keeping AC research alive on this often fatal disease. New clinical procedures, devices and medications are extending and saving lives, offering patients hope that was not available as much as a decade ago. Research on curative treatments are still in the preliminary stages despite the increase in knowledge of AC over the past few decades. By supporting research, you are partnering with other private donors/entities to help the battle against AC. You can be part of the group that ensures the progression of research goals and breakthroughs.
</p>
<p>
A message from Hopkins:
</p>
<p>
<i>The ARVD/C Program at the Johns Hopkins Heart and Vascular Institute. The Johns Hopkins Heart and Vascular Institute has the top ARVD/C Program in the country and is a world leader in the diagnosis, treatment, and research of this condition. Under the direction of Drs. Hugh Calkins and Hari Tandri, the program has seen over 2250 patients since its start in 1999. These patients and their families travel from all over the world to Johns Hopkins to receive an accurate diagnosis, treatment, genetic counseling, and family screening. Many return on a regular basis for lifelong care.
</i>
</p>
<p>
<i>
Current research priorities for ARVD/C include: gene identification for the 30% of families with an elusive genetic mutation; further understanding the impact of exercise on disease progression and exploring whether there are safe levels of exercise that can be recommended; disease prevention for families who are at risk; and developing more advanced treatment regimens. Support the Johns Hopkins ARVD/C Program
</i>
</p>
<p>
  <i>
In spite of the international reputation of the Johns Hopkins ARVD/C Program, it is extremely challenging to acquire funding for this work. As a rare disease, large grants from public sources like the NIH are few and far between. Private philanthropy is vital to our success, but because the disease only affects a small portion of the population, there are few grateful patients and families able to make major contributions. We hope you will consider partnering with us as we seek new and improved treatments for our patients and, ultimately, a cure for ARVD/C. Your donation to our efforts will truly make a difference.
</i>
</p>
