<h1>Welcome</h1>
<p>
  Welcome! The Superman Foundation was created in 2018 in order to help raise awareness of ARVD/C heart disease and to support the AC research program at Johns Hopkins University in Baltimore, MD, to develop new ARVD / ARVC treatments, improve screening and diagnosis of ARVD / ARVC, educate patients and physicians about ARVD / ARVC, and investigate efficacy of new medications and therapies.
</p>
<br>
<h2>OUR MISSION: </h2>
<ul>
  <li>
    Increasing awareness of ARVD/C heart disease
  </li>
  <li>
    Supporting the ARVD/C the  research program at Johns Hopkins University in Baltimore, Maryland, that works to gain a better understanding of ARVD/C, and develop better ways of managing it.
  </li>
  <li>
    Acting as an online source for those directly involved with ARVD/C can obtain helpful, current information about this heart disease.
  </li>
  <li>
    Paying tribute to Jack Dowd, an amazing son, brother, and friend who passed away in 2017.
  </li>
  <li>
    To advocate for placement of AEDs (automated external defibrillators) and mandatory heart testing for athletes (of all levels) to help prevent sudden cardiac death in children and adults.
  </li>
</ul>
<p>
  ARVC/D is a genetic, progressive, and extremely rare form of heart disease in which the muscular tissue of the right/left ventricle is replaced by fibrous/fatty tissue, which can cause abnormal heart rhythms. Although it is a relatively uncommon cause of sudden cardiac death, it accounts for up to one fifth of sudden cardiac death in people under 35 years of age.
</p>
<!--div class="container-fluid">
  <img align="center" class="imgcss" src="../../assets/1453148715_Human_Heart_Anatomy.jpg" style="width:850px;height:630px;"/>

</div-->
