<!--div class="container-fluid" style="background-color:rgb(248, 248, 255);"-->
  <h1>Jack's Story</h1>
  <p>
    Jack Bailey Clarence Dowd, <img align="right" class="imgcss" src="../../assets/JackCandid.PNG" style="width:41.2vmin;height:53.7vmin;">a 16 year old from Holmdel, New Jersey, passed away suddenly on September 17, 2017.
    He was a student at Holmdel High School in his junior year. Jack was an amazing, smart, talented, athletic, and funny individual. He had a beautiful smile that could light up any room, and could somehow turn any bad situation into something positive and funny. He lived an extremely healthy lifestyle, which he worked very hard for on a daily basis. Throughout his high school career, he played on the football and lacrosse teams, and previously ran track as well.
  </p>
  <p>
    Despite Jack’s active and healthy lifestyle, his heart disease claimed his life. His autopsy found that he had an undiagnosed heart condition called ARVD (arrhythmogenic right ventricular dysplasia.) The condition never manifested itself, and Jack’s heart condition went unnoticed. During a lacrosse game at Rutgers University, he collapsed on the field; his heart had given up.
  </p>
  <p>
    Jack was my best friend. From first grade to junior year, having him as a neighbor had a huge impact on my life. He made me a better person, a better athlete, and a better friend. The memories I share with him compare to no others. My family and I had a strong connection with Jack, as if he was part of our family. I, being an only child, considered him like a brother.
  </p>
  <p>
    The community of Holmdel is so thankful for the time we had with Jack. But, it was not long enough. My life has been forever changed since that day and I knew I had to do something. Jack had desires, hopes, and dreams he wanted to reach. He wanted to get accepted into prestigious colleges. He wanted to play on the varsity lacrosse team. He wanted to excel in school. He wanted to live just the way any kid wants to. I do not want Jack’s death be in vain; I want to keep his memory alive forever. I want to learn as much as I can about ARVC/D, and use this knowledge to help people and their families who suffer from ARVC/D. The hope is that no family or community has to endure the pain we have endured in Jack’s loss.
  </p>
<!--/div-->
