<h1>Symptoms and Diagnosis of AC</h1>
<p>
  The symptoms of AC are usually a result of an arrhythmia, or abnormal heart rhythm. Arrhythmias can be short or long lasting. In fact, many people don’t ever realize they have an arrhythmia.
</p>
<p>
  There are a variety of symptoms signaling an abnormal heart rhythm; sometimes, people without AC can exhibit these symptoms. Some of these symptoms include racing/skipping and fluttering sensations (palpitations) in the chest and throat. Sometimes, lightheadedness and fainting (syncope) can occur if the change in rhythm is so fast that it makes it difficult for the heart to pump blood. An arrhythmia can also result in sudden death if the heart is excessively rapid (ventricular fibrillation) so that it cannot pump enough blood to its own muscle and to the lungs and body.
</p>
<p>
  AC patients can develop symptoms of heart failure, in which the heart isn’t pumping enough blood, resulting in a backup of fluid in the body. Heart Failure symptoms include swelling of the legs, feet and abdomen, shortness of breath while lying down and/or exercising, as well as feelings of extreme fatigue, nausea or dizziness. These symptoms can vary from person to person. Some people may exhibit very few symptoms while others need medication/medical procedures to control the symptoms.
</p>
<p>
  Besides arrhythmias/heart failure, other common symptoms of AC include:
</p>
<ul>
  <li>
    Premature Ventricular Contractions (PVC) – extra or irregular heartbeats that occur when the electrical signal starts in the lower chamber of the heart (the ventricle).
  </li>
  <li>
    Ventricular Tachycardia (VT) – a series of rapid heartbeats, originating in the ventricle. This may last only a few beats or may continue and lead to life-threatening arrhythmias. VT can cause weakness, nausea, vomiting, and lightheadedness, as well as feeling a racing or skipping heart.
  </li>
  <li>
    Syncope – Fainting or a sudden loss of consciousness.
  </li>
  <li>
    Sudden cardiac arrest – Uncommonly, the first sign of ARVC/D is sudden cardiac arrest (SCA) where the heart stops beating and pumping blood to the rest of the body’s organs. This can result in death if not treated within minutes.
  </li>
</ul>
<p>
AC diagnosis is based on meeting a set of specific criteria that take into account electrocardiogram (ECG) abnormalities, arrhythmias, structural abnormalities and tissue characteristics, as well as family history and genetics. In 1994, an international task force proposed criteria for the clinical diagnosis of AC, based on these various categories. These criteria were very specific to AC, and were revised in 2010 and now incorporate advances in both technology and genetics. Information from ECGs, signal-averaged ECGs, exercise stress tests, Holter monitors, echocardiograms, MRIs, family history and genetic testing is important when applying the diagnostic criteria.
</p>
<p>
  To see a comparison between the diagnosis procedure in 1994 and 2010, follow the link below:
</p>
<ul>
  <li>
<a href="https://www.hopkinsmedicine.org/heart_vascular_institute/clinical_services/centers_excellence/arvd/_pdf/arvd_checklist_comparison.pdf" target="_blank">AC Checklist Comparison</a>
</li>
</ul>
<p>
  AC is usually diagnosed at a young age (usually less than 40 years).
</p>
<p>
  Despite new technological/genetics advancements, AC is often difficult to diagnose and usually requires several different tests. There is no single test that can determine whether an individual has AC. The initial evaluation of all patients suspected of having AC includes a physical exam, a detailed clinical history of arrhythmias or sudden death, and a number of cardiac tests to make a diagnosis.
</p>
<p>
  Some initial non-invasive cardiac tests for AC include:
</p>
<ul>
  <li>
    Electrocardiogram (ECG)
  </li>
  <li>
    Signal-Averaged Electrocardiogram (SAECG)
</li>
  <li>
    24-hour Holter Monitor to detect abnormal heart rhythms
  </li>
  <li>
    Echocardiogram of both ventricles
  </li>
  <li>
    Exercise stress test
  </li>
  <li>
    Cardiac Magnetic Resonance Imaging (Cardiac MRI) of both ventricles
  </li>
  <li>
    Electrophysiology Study
  </li>
  <li>
    Genetic Testing
  </li>
  <li>
    Cardiac Computed Tomography (CT)
  </li>
  <li>
    Right Ventriculogram (RV angiogram)
  </li>
  <li>
    Cardiac Biopsy
  </li>
</ul>
<p>
  If non-invasive tests suggest AC but the diagnosis is still inconclusive, invasive cardiac testing such as an electrophysiology study, (EP study or test), contrast ventriculography, angiography, and/or a heart biopsy may be needed to confirm the diagnosis of AC. A cardiologist will evaluate the need for such tests to make a proper diagnosis.
</p>
<p>
  It is recommended that all first-degree relatives (parents, siblings, and children of the individual with AC) of a person diagnosed with AC undergo non-invasive cardiac tests to check for signs of the disease. Genetic testing should also be considered. Second-degree relatives (grandparents, uncles, aunts, and cousins) don’t need cardiac testing unless they have symptoms.
</p>
