<h1>What is ARVD/C?</h1>
<p>
AC is a rare form of cardiomyopathy in which the heart muscle of the right ventricle (RV) is replaced by fat and/or fibrous tissue. The right ventricle is dilated and contracts poorly. As a result, the ability of the heart to pump blood is usually weakened. Patients with ARVD often have arrhythmias (abnormal heart rhythms), which can increase the risk of sudden cardiac arrest or death. The cause of ARVD is unknown. It occurs in about 1 in 5,000 people. ARVD can occur with no family history, although often it runs in families. A family history of ARVD is present in at least 30 to 50 percent of cases. Researchers have found two patterns of inheritance for ARVD:
</p>
<ul>
  <li>
    <font><b>Autosomal dominant</b></font> - When one parent has ARVD. Studies show that in these families, the family members have a 50 percent chance of inheriting the condition, although the symptoms and age of onset may be different between family members. ARVD is more prevalent in some geographic locations, such as Italy.
  </li>
  <li>
    <font><b>Autosomal recessive</b></font> - (Naxos disease) associated with a thickening of the outer layer of skin on the palms of the hands and soles of the feet (hyperkeratosis) and thick, "wool-like" hair.
  </li>
</ul>
<p>
Not all the specific genes have been identified as a cause for ARVD. Researchers are attempting to identify the specific gene mutations and locations of chromosomes associated with ARVD. ARVD may also be related to non-genetic causes such as congenital abnormalities (affecting the right ventricle), viral or inflammatory myocarditis.
</p>
<p>

</p>
